.logo{
  height: auto;
  width: 4vw;
}

.container {
  max-width: 960px;
}

.footer{
  position: fixed;
  margin: 0;
  vertical-align: bottom;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 400px){
  .logo{
      height: auto;
      width: 45px;
  }
}